
// Transforms
@mixin transform($args...) {
    -webkit-transform: $args;
    -ms-transform: $args; 
    transform: $args;
}

@mixin transform-origin($args...) {
   -webkit-transform-origin: $args;
   -ms-transform-origin: $args; 
    transform-origin: $args;
}

@mixin rotate($args...) {
  -webkit-transform: rotate($args);
  -ms-transform: rotate($args); 
   transform: rotate($args);
}

@mixin transition ($args...) {   
  -webkit-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@mixin linear-gradient($args...) {
 background-image: -webkit-linear-gradient($args); 
 background-image: linear-gradient($args); 
}

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    -moz-box-shadow: $args;
    box-shadow: $args;
}
 

@mixin animated-bkg{
	background-size:cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	@include transition(0.7s ease-in-out); 
	@include respond-to(large-devices){
	&:hover{
		@include transform(scale(1.1) rotate(1deg));
		@include transition(0.7s ease-in-out); 
	}
}
} 

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -ms-animation: #{$str};
  animation: #{$str};      
}


@mixin large-device-box{                    //it's not placeholder because %cannot be nested within @media
	width:80%;
	margin:0 auto;
	padding-top: 3rem;
    padding-bottom: 3rem;
}