
/*styling elements*/
%h2{
	font-size: 3rem;
	font-weight:700; 
}

%h3{
	font-size:2.5rem;
	font-weight:700;
}

%h4{
	font-size: 1.6rem;
	padding: 0.8rem;
    text-decoration: underline;
}

%button{  
	width: 12rem;
    height: 4.5rem;
    font-size: 1.3rem;
    font-weight:200;
    border: none;
    color:white;
    cursor: pointer;
	border-radius:5rem;
	display: block;
	@include box-shadow(0px 0px 20px 1px white);
	text-transform:uppercase;   
}

%triangle{
	width: 0;
	height: 0;
}

%menu-item{
	display:block;
	padding: 0.5rem 0.8rem;
	text-align:center;
}

%item-box-basic{
	padding:3rem;
	text-align: left;
}

%circle{
  width:100px;
  height:100px;
  border-radius:50%;
}


/*positioning*/

%flex{
	display: flex;
	flex-direction:column;
	@include respond-to(large-devices){
		flex-direction: row; 
	} 
}

%flex-centered{
	display:flex;
	justify-content:center;
	align-items: center;
}

%centered-container{
	width:80%;
	margin:0 auto;
}

%vertically-centered{
	position: relative;
	top:50%;
	@include transform(translateY(-50%)); 
}

%spacing{
	padding-top: 3rem;
    padding-bottom: 3rem;
}


