/*colors*/

$main-color: #1f4954;
$main-color-light: #62877c;
$complementary-color :#3F6C74;
$complementary-color-with-opacity:rgba(63, 108, 116, 0.9);

$call-to-action: #8c222a;
$information: #ADD8E6;

$light-red: #b02b36;
$dark-red: #5c161a;

$light-grey:#d3d3d3;

$black: #000;
$white: invert($black);


/*fonts*/
$primary-font: Geneva,Tahoma,Verdana,sans-serif; 
$primary-font-size: 16px;
$primary-font-weight: 400;

